<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script type="text/javascript" src="../../controllers/meta.js" ></script>
    <script type="text/javascript" src="../../controllers/tpsy/tpsy_sy.js" ></script>
</head>
<body class="wrap-box">
    <div class="level-div">
        <img src="../../../public/img/icon_tp/icon-SY-top.png">
        <p>天鹏电源电芯追溯系统</p>
    </div>
    <div class="button-div">
        <a id="btn_cssz" href="#" class="easyui-linkbutton" style="width:150px;height:30px">参数设置</a>
        <a id="btn_ngsjcx" href="#" class="easyui-linkbutton" style="width:150px;height:30px">NG数据查询</a>
    </div>
    <div class="tpsy-content">
        <div class = "tpsy-background">
            <img src="../../../public/img/icon_tp/icon-SY-background.png" />
        </div>
        <div class="left-content" >
            <div class="easyui-panel" title="基本参数" style="height:100%;">
                <div class="jbcs-div">
                    <div class="jbcs-content">
                        <img class="left-img" src="../../../public/img/icon_tp/icon-SY-sb.png" />
                        <p class="left-text">设备号：</p>
                        <p style="float: left" id="sy_sbh"></p>
                    </div>
                    <div class="jbcs-content">
                        <img class="left-img" src="../../../public/img/icon_tp/icon-SY-czrygh.png" />
                        <p class="left-text">操作人员工号：</p>
                        <p style="float: left" id="sy_czrygh"></p>
                    </div>
                    <div class="jbcs-content">
                        <img class="left-img" src="../../../public/img/icon_tp/icon-SY-scgd.png" />
                        <p class="left-text">生产工单：</p>
                        <p style="float: left" id="sy_scgd"></p>
                    </div>
                    <div class="jbcs-content">
                        <img class="left-img" src="../../../public/img/icon_tp/icon-SY-pc.png" />
                        <p class="left-text">批次：</p>
                        <p style="float: left" id="sy_pc"></p>
                    </div>
                    <div class="jbcs-content">
                        <img class="left-img" src="../../../public/img/icon_tp/icon-SY-rlfw.png" />
                        <p class="left-text">容量范围：</p>
                        <p style="float: left" id="sy_rlfw"></p>
                    </div>
                    <div class="jbcs-content">
                        <img class="left-img" src="../../../public/img/icon_tp/icon-SY-zxs.png" />
                        <p class="left-text">装箱数：</p>
                        <p style="float: left" id="sy_zxs"></p>
                    </div>
                    <div class="jbcs-content">
                        <img class="left-img" src="../../../public/img/icon_tp/icon-SY-sjsx.png" />
                        <p class="left-text">进行数据筛选：</p>
                        <p style="float: left" id="sy_sjsx"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="right-content">
            <div class="easyui-panel" title="扫描结果" style="height:100%;">
                <div class="zc-div">
                    <div id="zc" class="full">
                        <img src="../../../public/img/icon_tp/icon-big-zc.png" />
                        <p>正常</p>
                    </div>
                    <div id="yc" class="full">
                        <img src="../../../public/img/icon_tp/icon-big-yc.png" />
                        <p>异常</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="bottom-div"></div> -->
    <div id="win_cssz"></div>
    <div id="win_ngsjcx"></div>
</body>
</html>