<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>天鹏电源电芯追溯系统</title>
    <script type="text/javascript" src="../../controllers/meta.js" ></script>
    <script type="text/javascript" src="../../controllers/tpsy/tpsy_sy.js" ></script>
</head>
<body class="wrap-box">
    <div class="level-div">
        <img src="../../../public/img/icon_tp/icon-SY-top.png">
        <p>天鹏电源电芯追溯系统</p>
    </div>
    <div class="button-div">
        <a id="btn_cssz" href="#" class="easyui-linkbutton" style="width:150px;height:30px;float:left;margin-right:300px;">参数设置</a>
        <a id="btn_ngsjcx" href="#" class="easyui-linkbutton" style="width:150px;height:30px;float:left;margin-right:10px;">NG数据查询</a>
        <a id="btn_zcsjcx" href="#" class="easyui-linkbutton" style="width:150px;height:30px;float:left;margin-right:10px;">正常数据查询</a>
        <a id="btn_qlfx" href="#" class="easyui-linkbutton" style="width:150px;height:30px;float:left;margin-right:10px;">尾料清算</a>
        <div class="combobox-div-sy">
            <span>箱号：</span>
            <input id="combobox_xh" class="easyui-combobox float-left"  style="height:30px;width:150px;margin-right:10px;" />
            <a id="btn_cxdy" href="#" class="easyui-linkbutton" style="width:120px;height:30px">重新打印</a>
        </div>
    </div>
    <div class="tpsy-content">
        <div class="left-content" >
            <div class="easyui-panel" title="基本参数" style="height:100%;">
                <div class="jbcs-div">
                    <div class="jbcs-content">
                        <img class="left-img" src="../../../public/img/icon_tp/icon-SY-sb.png" />
                        <span class="left-text">设备号：</span>
                        <span class ="left-text-value" id="sy_sbh"></span>
                    </div>
                    <div class="jbcs-content">
                        <img class="left-img" src="../../../public/img/icon_tp/icon-SY-czrygh.png" />
                        <span class="left-text">操作人员工号：</span>
                        <span class ="left-text-value" id="sy_czrygh"></span>
                    </div>
                    <div class="jbcs-content">
                        <img class="left-img" src="../../../public/img/icon_tp/icon-SY-scgd.png" />
                        <span class="left-text">生产工单：</span>
                        <span class ="left-text-value" id="sy_scgd"></span>
                    </div>
                    <div class="jbcs-content">
                        <img class="left-img" src="../../../public/img/icon_tp/icon-SY-pc.png" />
                        <span class="left-text">批次：</span>
                        <span class ="left-text-value" id="sy_pc"></span>
                    </div>
                    <div class="jbcs-content">
                        <img class="left-img" src="../../../public/img/icon_tp/icon-SY-rlfw.png" />
                        <span class="left-text">容量范围：</span>
                        <span class ="left-text-value" id="sy_rlfw"></span>
                    </div>
                    <div class="jbcs-content">
                        <img class="left-img" src="../../../public/img/icon_tp/icon-SY-zxs.png" />
                        <span class="left-text">装箱数：</span>
                        <span class ="left-text-value" id="sy_zxs"></span>
                    </div>
                    <div class="jbcs-content">
                        <img class="left-img" src="../../../public/img/icon_tp/icon-SY-sjsx.png" />
                        <span class="left-text">进行数据筛选：</span>
                        <span style="float: left;width: 60%;text-align: left" id="sy_sjsx"></span>
                    </div>
                    <div class="jbcs-content">
                        <img class="left-img" src="../../../public/img/icon_tp/icon-SY-zxs.png" />
                        <span class="left-text">正常电芯数量：</span>
                        <span class ="left-text-value" id="sy_dxsl"></span>
                    </div>
                    <div class="jbcs-content">
                        <img class="left-img" src="../../../public/img/icon_tp/icon-SY-sjsx.png" />
                        <span class="left-text">NG电芯数量：</span>
                        <span style="float: left;width: 60%;text-align: left" id="sy_ngdxsl"></span>
                    </div>
                </div>
                <div class="zc-div">
                    <div id="zc" class="full">
                        <img src="../../../public/img/icon_tp/icon-big-zc.png" />
                        <p>正常</p>
                    </div>
                    <div id="yc" class="yc">
                        <img src="../../../public/img/icon_tp/icon-big-yc.png" />
                        <p id="yc_text"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-div">
            <div class="full">
                <table id="ng_table_sy" class="easyui-datagrid" title="实时电芯数据查询表" data-options="
                rownumbers:true,
                singleSelect:true,
                autoRowHeight:true,"
                style="width:1000px;height:620px">
                </table>
            </div>
        </div>
    </div>
    <div id="win_cssz"></div>
    <div id="win_ngsjcx"></div>
    <div id="win_normalsjcx"></div>
</body>
</html>