<script type="text/javascript" src="../../controllers/tpsy/tpsy_sjcx.js" ></script>

<div>
    <div class="top-function">
        <div class="button-div-sjcx">
            <div class="combobox-div">
                <span class="cbx-text">批次：</span>
                <input id="combobox_pc" class="easyui-combobox float-left" name="state" style="height:30px;width:130px;" />
            </div>
            <div class="combobox-div">
                <span class="cbx-text">NG原因：</span>
                <input id="combobox_ngyy" class="easyui-combobox float-left" name="state" style="height:30px;width:130px;" />
            </div>
            <div class="combobox-div">
                <span class="cbx-text">生产工单：</span>
                <input id="combobox_scgd" class="easyui-combobox float-left" name="state" style="height:30px;width:130px;" />
            </div>
            <div class="sjcx-button">
                <a id="btn_qd" href="#" class="easyui-linkbutton" style="width:150px;height:30px;margin-right: 10px;">查询</a>
            </div>
        </div>
        <div class="button-div-sjcx" >
            <div class="combobox-div">
                <span class="cbx-text">员工号：</span>
                <input id="combobox_ygh" class="easyui-combobox float-left" name="state" style="height:30px;width:130px;" />
            </div>
            <div class="combobox-div">
                <span class="cbx-text">操作时间：</span>
                <input id="dd_star" type="text"  class="easyui-datetimebox" style="height:30px;width:160px;">
            </div>
            <hr class="sjcx-hr" />
            <div class="combobox-div">
                <input id="dd_end" type="text"  class="easyui-datetimebox" style="height:30px;width:160px;">
            </div>
            <div class="sjcx-button">
                <a id="btn_dc" href="#" class="easyui-linkbutton" style="width:150px;height:30px;margin-right: 10px;">导出</a>
            </div>
        </div>
    </div>
    <div>
        <table id="ng_table" class="easyui-datagrid" title="NG数据查询表" data-options="
				rownumbers:true,
				singleSelect:true,
				autoRowHeight:false,
				pagination:true,
				pageSize:20" style="width:980px;height:550px">
        </table>
    </div>
</div>
