<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script type="text/javascript" src="../../controllers/meta.js" ></script>
    <script type="text/javascript" src="../../controllers/wwsy/wwsy_sy.js" ></script>
</head>

<body class="box-margin-all-3">
<div class="sy-box-width margin-bottom box-height-3 border-radius">
    <div class="easyui-panel" title="微电网" data-options="iconCls:'icon-wdw'" style="height:100%;overflow:hidden;">
        <div class="sy-jbgk-img lead-background-color" >
            <img class="jbgk-img-padding" src="../../../public/img/icon/icon-01/1_02.png" />
            <div class="sy-text-setting"><h3>基</h3>本概况</div>
        </div>
        <div class="sywdw-left margin-right">
            <div class="sy-jbgk margin-right">
                <div class="sy-jbgk-content margin-bottom-special">
                    <img class="float-left" src="../../../public/img/icon/icon-01/1_10.png" />
                    <div class="float-left jbgk-content-text">
                        <div class="box-height-2 jbgk-content-margin">总装机量</div>
                        <div class="box-height-2" style="font-size:20px;">60MW</div>
                    </div>
                </div>
                <div class="sy-jbgk-content">
                    <img class="float-left" src="../../../public/img/icon/icon-01/1_27.png" />
                    <div class="float-left jbgk-content-text">
                        <div class="box-height-2 jbgk-content-margin">新能源装机量</div>
                        <div class="box-height-2" style="font-size:20px;">13MW</div>
                    </div>
                </div>
            </div>
            <div class="sy-jbgk margin-right">
                <div class="sy-jbgk-content margin-bottom-special">
                    <img class="float-left" src="../../../public/img/icon/icon-01/1_12.png" />
                    <div class="float-left jbgk-content-text">
                        <div class="box-height-2 jbgk-content-margin" id="rfdl_temp">日发电量</div>
                        <div class="box-height-2" style="font-size:20px;">1MWh</div>
                    </div>
                </div>
                <div class="sy-jbgk-content">
                    <img class="float-left" src="../../../public/img/icon/icon-01/1_26.png" />
                    <div class="float-left jbgk-content-text">
                        <div class="box-height-2 jbgk-content-margin">日用电量</div>
                        <div class="box-height-2" style="font-size:20px;">960MWh</div>
                    </div>
                </div>
            </div>
            <div class="sy-jbgk margin-right">
                <div class="sy-jbgk-content margin-bottom-special">
                    <img class="float-left" src="../../../public/img/icon/icon-01/1_12.png" />
                    <div class="float-left jbgk-content-text">
                        <div class="box-height-2 jbgk-content-margin">月发电量</div>
                        <div class="box-height-2" style="font-size:20px;">30MWh</div>
                    </div>
                </div>
                <div class="sy-jbgk-content">
                    <img class="float-left" src="../../../public/img/icon/icon-01/1_28.png" />
                    <div class="float-left jbgk-content-text">
                        <div class="box-height-2 jbgk-content-margin">自发自用比</div>
                        <div class="box-height-2" style="font-size:20px;">75%</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sy-jbgk-img lead-background-color" >
            <img class="jbgk-img-padding" src="../../../public/img/icon/icon-01/1_07.png" />
            <div class="sy-text-setting" ><h3>社</h3>会贡献</div>
        </div>
        <div class="sywdw-right">
            <div class="sy-shgx margin-right">
                <div class="sy-shgx-content margin-bottom sy-shgx-img">
                    <img class="float-left" src="../../../public/img/icon/icon-01/1_16.png" />
                    <div class="float-left jbgk-content-text">
                        <div class="box-height-2 jbgk-content-margin">CO2减排量</div>
                        <div class="box-height-2" style="font-size:20px;">70.42吨</div>
                    </div>
                </div>
                <div class="sy-shgx-content margin-bottom sy-shgx-img">
                    <img class="float-left " src="../../../public/img/icon/icon-01/1_25.png" />
                    <div class="float-left jbgk-content-text">
                        <div class="box-height-2 jbgk-content-margin">减少标准煤</div>
                        <div class="box-height-2" style="font-size:20px;">70.42吨</div>
                    </div>
                </div>
            </div>
            <div class="sy-shgx margin-right">
                <div class="sy-shgx-content margin-bottom sy-shgx-img">
                    <img class="float-left" src="" />
                    <div class="float-left jbgk-content-text">
                        <div class="box-height-2 jbgk-content-margin"></div>
                        <div class="box-height-2" style="font-size:20px;"></div>
                    </div>
                </div>
                <div class="sy-shgx-content sy-shgx-img">
                    <img class="float-left" src="../../../public/img/icon/icon-01/1_30.png" />
                    <div class="float-left jbgk-content-text">
                        <div class="box-height-2 jbgk-content-margin">总体经济效益</div>
                        <div class="box-height-2" style="font-size:20px;">174.8万元</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="sy-box-width margin-bottom box-height-3 border-radius">
    <div class="easyui-panel" title="商业微电网" data-options="iconCls:'icon-sywdw'" style="height:100%;overflow:hidden;">
        <div class="sy-jbgk-img lead-background-color" >
            <img class="jbgk-img-padding" src="../../../public/img/icon/icon-01/1_02.png" />
            <div class="sy-text-setting" style="color:#08ba9e"><h3>基</h3>本概况</div>
        </div>
        <div class="sywdw-left margin-right">
            <div class="sy-jbgk margin-right">
                <div class="sy-jbgk-content margin-bottom-special">
                    <img class="float-left" src="../../../public/img/icon/icon-01/1_43.png" />
                    <div class="float-left jbgk-content-text">
                        <div class="box-height-2 jbgk-content-margin">总装机量</div>
                        <div class="box-height-2" style="font-size:20px;">60MW</div>
                    </div>
                </div>
                <div class="sy-jbgk-content">
                    <img class="float-left" src="../../../public/img/icon/icon-01/1_50.png" />
                    <div class="float-left jbgk-content-text">
                        <div class="box-height-2 jbgk-content-margin">新能源装机量</div>
                        <div class="box-height-2" style="font-size:20px;">13MW</div>
                    </div>
                </div>
            </div>
            <div class="sy-jbgk margin-right">
                <div class="sy-jbgk-content margin-bottom-special">
                    <img class="float-left" src="../../../public/img/icon/icon-01/1_40.png" />
                    <div class="float-left jbgk-content-text">
                        <div class="box-height-2 jbgk-content-margin">日发电量</div>
                        <div class="box-height-2" style="font-size:20px;">1MWh</div>
                    </div>
                </div>
                <div class="sy-jbgk-content">
                    <img class="float-left" src="../../../public/img/icon/icon-01/1_49.png" />
                    <div class="float-left jbgk-content-text">
                        <div class="box-height-2 jbgk-content-margin">日用电量</div>
                        <div class="box-height-2" style="font-size:20px;">960MWh</div>
                    </div>
                </div>
            </div>
            <div class="sy-jbgk margin-right">
                <div class="sy-jbgk-content margin-bottom-special">
                    <img class="float-left" src="../../../public/img/icon/icon-01/1_41.png" />
                    <div class="float-left jbgk-content-text">
                        <div class="box-height-2 jbgk-content-margin">月发电量</div>
                        <div class="box-height-2" style="font-size:20px;">30MWh</div>
                    </div>
                </div>
                <div class="sy-jbgk-content">
                    <img class="float-left" src="../../../public/img/icon/icon-01/1_51.png" />
                    <div class="float-left jbgk-content-text">
                        <div class="box-height-2 jbgk-content-margin">自发自用比</div>
                        <div class="box-height-2" style="font-size:20px;">75%</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sy-jbgk-img lead-background-color" >
            <img class="jbgk-img-padding" src="../../../public/img/icon/icon-01/1_07.png" />
            <div class="sy-text-setting" style="color:#08ba9e"><h3>社</h3>会贡献</div>
        </div>
        <div class="sywdw-right">
            <div class="sy-shgx margin-right">
                <div class="sy-shgx-content margin-bottom sy-shgx-img">
                    <img class="float-left" src="../../../public/img/icon/icon-01/1_42.png" />
                    <div class="float-left jbgk-content-text">
                        <div class="box-height-2 jbgk-content-margin">CO2减排量</div>
                        <div class="box-height-2" style="font-size:20px;">70.42吨</div>
                    </div>
                </div>
                <div class="sy-shgx-content margin-bottom sy-shgx-img">
                    <img class="float-left " src="../../../public/img/icon/icon-01/1_48.png" />
                    <div class="float-left jbgk-content-text">
                        <div class="box-height-2 jbgk-content-margin">减少标准煤</div>
                        <div class="box-height-2" style="font-size:20px;">70.42吨</div>
                    </div>
                </div>
            </div>
            <div class="sy-shgx margin-right">
                <div class="sy-shgx-content margin-bottom sy-shgx-img">
                    <img class="float-left" src="" />
                    <div class="float-left jbgk-content-text">
                        <div class="box-height-2 jbgk-content-margin" style="font-size:12px;"></div>
                        <div class="box-height-2" style="font-size:20px;"></div>
                    </div>
                </div>
                <div class="sy-shgx-content sy-shgx-img">
                    <img class="float-left" src="../../../public/img/icon/icon-01/1_52.png" />
                    <div class="float-left jbgk-content-text">
                        <div class="box-height-2 jbgk-content-margin">总体经济效益</div>
                        <div class="box-height-2" style="font-size:20px;">174.8万元</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="sy-box-width margin-bottom box-height-3 border-radius">
    <div class="easyui-panel" title="工业微电网" data-options="iconCls:'icon-gywdw'" style="height:100%;overflow:hidden;">
        <div class="sy-jbgk-img lead-background-color">
            <img class="jbgk-img-padding" src="../../../public/img/icon/icon-01/1_02.png" />
            <div class="sy-text-setting" style="color:#ff731e"><h3>基</h3>本概况</div>
        </div>
        <div class="sywdw-left margin-right">
            <div class="sy-jbgk margin-right">
                <div class="sy-jbgk-content margin-bottom-special">
                    <img class="float-left" src="../../../public/img/icon/icon-01/1_64.png" />
                    <div class="float-left jbgk-content-text">
                        <div class="box-height-2 jbgk-content-margin">总装机量</div>
                        <div class="box-height-2" style="font-size:20px;">60MW</div>
                    </div>
                </div>
                <div class="sy-jbgk-content">
                    <img class="float-left" src="../../../public/img/icon/icon-01/1_72.png" />
                    <div class="float-left jbgk-content-text">
                        <div class="box-height-2 jbgk-content-margin">新能源装机量</div>
                        <div class="box-height-2" style="font-size:20px;">13MW</div>
                    </div>
                </div>
            </div>
            <div class="sy-jbgk margin-right">
                <div class="sy-jbgk-content margin-bottom-special">
                    <img class="float-left" src="../../../public/img/icon/icon-01/1_61.png" />
                    <div class="float-left jbgk-content-text">
                        <div class="box-height-2 jbgk-content-margin">日发电量</div>
                        <div class="box-height-2" style="font-size:20px;">1MWh</div>
                    </div>
                </div>
                <div class="sy-jbgk-content">
                    <img class="float-left" src="../../../public/img/icon/icon-01/1_70.png" />
                    <div class="float-left jbgk-content-text">
                        <div class="box-height-2 jbgk-content-margin">日用电量</div>
                        <div class="box-height-2" style="font-size:20px;">960MWh</div>
                    </div>
                </div>
            </div>
            <div class="sy-jbgk margin-right">
                <div class="sy-jbgk-content margin-bottom-special">
                    <img class="float-left" src="../../../public/img/icon/icon-01/1_62.png" />
                    <div class="float-left jbgk-content-text">
                        <div class="box-height-2 jbgk-content-margin">月发电量</div>
                        <div class="box-height-2" style="font-size:20px;">30MWh</div>
                    </div>
                </div>
                <div class="sy-jbgk-content">
                    <img class="float-left" src="../../../public/img/icon/icon-01/1_71.png" />
                    <div class="float-left jbgk-content-text">
                        <div class="box-height-2 jbgk-content-margin">自发自用比</div>
                        <div class="box-height-2" style="font-size:20px;">75%</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sy-jbgk-img lead-background-color" >
            <img class="jbgk-img-padding" src="../../../public/img/icon/icon-01/1_07.png" />
            <div class="sy-text-setting" style="color:#ff731e"><h3>社</h3>会贡献</div>
        </div>
        <div class="sywdw-right">
            <div class="sy-shgx margin-right">
                <div class="sy-shgx-content margin-bottom sy-shgx-img">
                    <img class="float-left" src="../../../public/img/icon/icon-01/1_63.png" />
                    <div class="float-left jbgk-content-text">
                        <div class="box-height-2 jbgk-content-margin">CO2减排量</div>
                        <div class="box-height-2" style="font-size:20px;">70.42吨</div>
                    </div>
                </div>
                <div class="sy-shgx-content margin-bottom sy-shgx-img">
                    <img class="float-left " src="../../../public/img/icon/icon-01/1_69.png" />
                    <div class="float-left jbgk-content-text">
                        <div class="box-height-2 jbgk-content-margin">减少标准煤</div>
                        <div class="box-height-2" style="font-size:20px;">70.42吨</div>
                    </div>
                </div>
            </div>
            <div class="sy-shgx margin-right">
                <div class="sy-shgx-content margin-bottom sy-shgx-img">
                    <img class="float-left" src="" />
                    <div class="float-left jbgk-content-text">
                        <div class="box-height-2 jbgk-content-margin"></div>
                        <div class="box-height-2" style="font-size:20px;"></div>
                    </div>
                </div>
                <div class="sy-shgx-content sy-shgx-img">
                    <img class="float-left" src="../../../public/img/icon/icon-01/1_73.png" />
                    <div class="float-left jbgk-content-text">
                        <div class="box-height-2 jbgk-content-margin" style="font-size:12px;">总体经济效益</div>
                        <div class="box-height-2" style="font-size:20px;">174.8万元</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>