
* { margin: 0;
    padding: 0;
}
body {
    font-family: Arial,
    Tahoma, sans-serif;
    font-size: 11px;
    color: #232323; }
#nav {
    margin: 0;
    padding: 0;
    list-style: none;
    border-bottom-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-right-radius: 4px;
    height: 60px;
    padding-left: 30px;
    padding-right: 30px;
}
#nav li {
    float: left;
    display: block;
    background: none;
    position: relative;
    z-index: 999;
    margin: 0 1px; }
#nav li a {
    font-size: 16px;
    display: block;
    padding: 0;
    font-weight: 700;
    line-height: 60px;
    text-decoration: none;
    color: #fff;
    zoom: 1;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    padding: 0px 12px; }
#nav ul li a:hover, #nav ul li a.hov {
    background-color: #0a0e1e;
    border-left: 1px solid #0a0e1e;
    border-right: 1px solid #0a0e1e;
    color: #FFF;
}
#nav ul {
    background-color: #dcdcdc;
    position: absolute;
    left: 1px;
    display: none;
    margin: 0;
    padding: 0;
    list-style: none;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    -o-box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    padding-bottom: 3px; }
#nav ul li {
    width: 180px;
    float: left;
    border-top: 1px solid #fff;
    text-align: left; }
#nav ul li:hover {
    border-left: 0px solid transparent;
    border-right: 0px solid transparent; }
#nav ul a {
    display: block;
    height: 20px;
    line-height: 20px;
    padding: 8px 5px;
    color: #000;
    border-bottom: 1px solid transparent;
    text-transform: uppercase;
    font-weight: normal; }
#nav ul a:hover {
    text-decoration: none;
    border-right-color: transparent;
    border-left-color: transparent;
    background: transparent;
    color: #4e4e4e; }
* html #nav ul {
    margin: 0 0 0 -2px;}
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0; height: 0; }
.clearfix { display: inline-block; }
.clearfix { display: block; }
* html .clearfix { height: 1%; }
.colorblock{background-color: #c7181f;width: 5px;height: 18px;}
.wrap{background: #141e42;width:100%;position: absolute;height:60px;}