<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script type="text/javascript" src="../../controllers/meta.js" ></script>
    <script type="text/javascript" src="../../controllers/wwgl/wwgl_wwgl.js" ></script>
</head>
<body class="box-margin-all-2">

<div class="menu-left margin-right float-left">
    <div class="menu-left-button margin-left">
        <a href="#" id="wdw" class="easyui-linkbutton" data-options="toggle:true,group:'g1',iconCls:'icon-sjcd',selected:true">微电网</a>
        <a href="#" id="syww" class="easyui-linkbutton" data-options="toggle:true,group:'g1',iconCls:'icon-sjcd',">商业微网</a>
        <a href="#" id="gyww" class="easyui-linkbutton" data-options="toggle:true,group:'g1',iconCls:'icon-sjcd',">工业微网</a>
    </div>
</div>
<div class="menu-right float-right">
    <div id="wdw-div">
        <div class="box-width-3-2  box-height float-right" >
            <div class="easyui-panel" title="重要负荷监控" data-options="iconCls:'icon-zyfhjk'" style="height:100%;">
                <div class="box-width box-background-color box-cn-style">
                    <div class="box-width box-height-5 margin-bottom box-cn-margin">
                        <div class="box-height float-left cn-img-width">
                            <img class="cn-img-position" src="../../../public/img/icon/icon-02/2_14.png">
                        </div>
                        <div class="float-left cn-img-width margin-top">储能:</div>
                        <div class="cn-parcent-style" id="pie-cdpercent"></div>
                        <div class="margin-bottom float-left cn-content-style">充电中80%</div>
                    </div>
                    <div class="box-height-special" >
                        <div class="float-left cnrl-style">
                            <div class="box-width-2 text-size-half" >储能容量</div>
                            <div class="box-width-2 box-height-special cnrl-font-size">5000kWh</div>
                        </div>
                        <div class="hr-style" ><hr color="black" size="30px" /></div>
                        <div class="float-left gl-style" >
                            <div class="box-width text-size-half" >功率</div>
                            <div class="box-width box-height-special cnrl-font-size">50KW</div>
                        </div>
                        <div class="hr-style"><hr color="black" size="30px" /></div>
                        <div class="float-left gl-style">
                            <div class="box-width text-size-half" >电流</div>
                            <div class="box-width box-height-special cnrl-font-size">1A</div>
                        </div>
                    </div>
                </div>
                <div class="box-width box-height-special-2 box-background-color box-cdz-style">
                    <div class="box-width">
                        <img class="cdz-img-style" src="../../../public/img/icon/icon-02/2_23.png" />
                        <div class="margin-bottom float-left cdz-text-style">充电桩</div>
                    </div>
                    <hr width="95%" color="black" size="2" />
                    <div class="box-height-big box-width margin-bottom margin-top">

                        <div class="box-height-5 box-width margin-bottom margin-top-10">
                            <div class="float-left margin-left-20">
                                <img class="float-left margin-top-10px" src="../../../public/img/icon/icon-02/2_30.png" />
                                <div class="float-left margin-top-10  margin-bottom">充电中</div>
                                <div >40%</div>
                            </div>
                            <div class="float-right margin-right-20">
                                <img class="float-left margin-top-10px" src="../../../public/img/icon/icon-02/2_32.png" />
                                <div class="float-left margin-top-10  margin-bottom">离线</div>
                                <div >27%</div>
                            </div>
                        </div>
                        <div class="pie-syl-style" id="pie-syl"></div>
                        <div class="box-height-5 box-width" >
                            <div class="float-left margin-left-20 box-width-dl">
                                <img class="float-left margin-top-10px" src="../../../public/img/icon/icon-02/2_36.png" />
                                <div class="float-left margin-top-10">待机</div>
                                <div >33%</div>
                            </div>
                            <div class="float-right margin-right-20 box-width-dl">
                                <img class="float-left margin-top-10px" src="../../../public/img/icon/icon-02/2_37.png" />
                                <div class="float-left margin-top-10" >故障</div>
                                <div >0%</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-width box-height-5 box-background-color padding-5px">
                    <div class="box-width margin-bottom box-height-4">
                        <div class="box-height float-left" >
                            <img class="zyfh-img-style" src="../../../public/img/icon/icon-02/2_41.png" >
                        </div>
                        <div class="box-height zyfh-text-style">重要负荷</div>
                    </div>
                    <hr width="95%" color="black" size="2" />
                    <div class="box-height-special box-width-3 zyfh-centent-boxstyle">
                        <div class="box-height-2 box-width ktfh-img-boxstyle">
                            <img src="../../../public/img/icon/icon-02/2_45.png"></div>
                        <div class="box-height-2 box-width float-left" >
                            <div class="box-width box-height-2 ktfh-text-style">空调负荷</div>
                            <div class="box-width box-height-2 ktfu-text-big-style">5000kWh</div>
                        </div>
                    </div>
                    <div class="box-height-special box-width-3 zyfh-centent-boxstyle" >
                        <div class="box-height-2 box-width  ktfh-img-boxstyle" >
                            <img src="../../../public/img/icon/icon-02/2_47.png">
                        </div>
                        <div class="box-height-2 box-width float-left ">
                            <div class="box-width box-height-2 ktfh-text-style" >电锅炉负荷</div>
                            <div class="box-width box-height-2 ktfu-text-big-style" >5000kWh</div>
                        </div>
                    </div>
                    <div class="box-height-special box-width-3  zyfh-centent-boxstyle" >
                        <div class="box-height-2 box-width  ktfh-img-boxstyle">
                            <img src="../../../public/img/icon/icon-02/2_49.png">
                        </div>
                        <div class="box-height-2 box-width float-left ">
                            <div class="box-width box-height-2 ktfh-text-style" >工业负荷</div>
                            <div class="box-width box-height-2 ktfu-text-big-style" >5000kWh</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-width-special  box-height-2 margin-right margin-bottom float-left" >
            <div class="easyui-panel" title="实时发用电功率" data-options="iconCls:'icon-ssyfdgl'" style="height:100%;">
                <div class="box-width box-height" id="pie_ssyfdgl"></div>
            </div>
        </div>
        <div class="box-width-special  box-height-2 margin-right float-left" >
            <div class="easyui-panel" title="分布式发电单元实时发电功率" data-options="iconCls:'icon-ssyfdgl'" style="height:100%;">
                <div class="box-width box-height" id="pie_fbsfddyssyfdgl"></div>
            </div>
        </div>
    </div>
</div>

</body>
</html>