<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<script type="text/javascript" src="../../controllers/meta.js" ></script>
		<link rel="stylesheet" type="text/css" href="../../../public/css/easyui-tabs-right.css"/>
		<script type="text/javascript" src="../../controllers/yhdd/yhdd_dsxn.js" ></script>
	</head>
	<body class="box-margin-all-2">
		<div class="menu-left box-margin-right">
			<div class="button-menu-left">
				<a id="btn_tab_wdwDiv" href="#" class="easyui-linkbutton" data-options="toggle:true,group:'g1',iconCls:'icon-sjcd',selected:true">微电网</a>
				<a id="btn_tab_sywwDiv" href="#" class="easyui-linkbutton" data-options="toggle:true,group:'g1',iconCls:'icon-sjcd'">商业微网</a>
				<a id="btn_tab_gywwDiv" href="#" class="easyui-linkbutton" data-options="toggle:true,group:'g1',iconCls:'icon-sjcd'">工业微网</a>
			</div>
		</div>
		<div class="panel-surround menu-right nomargin-height-1">
			<div id="topTabs" class="easyui-tabs" style="width:100%;height:100%;">
				<div title="历史负荷查询">
					<div class="button-inside-top" style="height:10%;">
						<a id="btn_dsxn_q1" href="#" class="easyui-linkbutton" data-options="toggle:true,group:'g2',selected:true">1天前</a>
						<a id="btn_dsxn_q2" href="#" class="easyui-linkbutton" data-options="toggle:true,group:'g2'">2天前</a>
						<a id="btn_dsxn_q3" href="#" class="easyui-linkbutton" data-options="toggle:true,group:'g2'">3天前</a>
						<a id="btn_dsxn_q4" href="#" class="easyui-linkbutton" data-options="toggle:true,group:'g2'">4天前</a>
						<a id="btn_dsxn_q5" href="#" class="easyui-linkbutton" data-options="toggle:true,group:'g2'">5天前</a>
						<a id="btn_dsxn_q6" href="#" class="easyui-linkbutton" data-options="toggle:true,group:'g2'">6天前</a>
						<a id="btn_dsxn_q7" href="#" class="easyui-linkbutton" data-options="toggle:true,group:'g2'">7天前</a>
					</div>
					<div class="button-inside-top-content">
						<div id="pie_lsfh" class="pie-fix"></div>
					</div>
				</div>
				<div title="负荷预测" id="fhycDiv">
					<div class="button-inside-top" style="height:10%;">
						<a id="btn_dsxn_h1" href="#" class="easyui-linkbutton" data-options="toggle:true,group:'g3',selected:true">日前</a>
						<a id="btn_dsxn_h2" href="#" class="easyui-linkbutton" data-options="toggle:true,group:'g3'">日内</a>
					</div>
					<div class="button-inside-top-content">
						<div id="pie_fhyc" class="pie-fix"></div>
					</div>
				</div>
				<div title="倒送消纳" id="dsxnDiv">
					<div class="button-action button-zxdsxn">
						<a id="btn_zxdsxn" href="#" class="easyui-linkbutton" data-options="toggle:false,iconCls:'icon-dsxn'">执行倒送消纳</a>
					</div>
					<div>
					<div id="canvas" style="background-color: #262A35;"></div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
