<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<script type="text/javascript" src="../../controllers/meta.js" ></script>
		<script type="text/javascript" src="../../controllers/yhdd/yhdd_dsxn_jg.js" ></script>
	</head>
	<body class="box-margin-all-2">
		<div class="panel-surround box-width-2 box-height-2 box-margin-right">
			<div class="easyui-panel" title="负荷预测" style="width:100%; height:100%;">
				<div class="pie-fix" id="pie_fhyc"></div>
			</div>
		</div>
		<div class="panel-surround box-width-2 box-height-2">
			<div class="easyui-panel" title="储能充放电功率" style="width:100%; height:100%;">
				<div class="pie-fix"  id="pie_cncfdgl"></div>
			</div>
		</div>
		<div class="panel-surround box-width-2 box-height-2 box-margin-top box-margin-right">
			<div class="easyui-panel" title="充电桩充放电功率" style="width:100%; height:100%;">
				<div class="pie-fix" id="pie_cdzcfdgl"></div>
			</div>
		</div>
		<div class="panel-surround box-width-2 box-height-2 box-margin-top">
			<div class="easyui-panel" title="光伏发电出力" style="width:100%; height:100%;">
				<div class="pie-fix"  id="pie_gffdcl"></div>
			</div>
		</div>
	</body>
</html>
