<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<script type="text/javascript" src="../../controllers/meta.js" ></script>
		<script type="text/javascript" src="../../controllers/tptj/tptj_hhsf.js" ></script>
	</head>
	<body>
		<div class="right-action">
			<div class="easyui-panel" title="合环信息" style="width:100%; height:100%;">
				<div class="state-close" id="div_201">
					<p>断路器201：<span id="span_201">闭合</span></p>
				</div>
				<div class="state-close" id="div_202">
					<p>断路器202：<span id="span_202">闭合</span></p>
				</div>
				<div class="state-open" id="div_245">
					<p>断路器245：<span id="span_245">断开</span></p>
				</div>
				<div class="gk-01">
					<div class="topFontFrame"></div>
					<div class="fontFrameContent">
						<div id="initDesc">
							<!-- 合环点两侧电压差 = <br>0.6198∠39.6178°<br><br> -->
							合环点两侧电压幅值差 = 0.441V<br><br>
							合环点两侧电压相角差 = 2.532°<br><br>
							负荷电流：<br><br>
							I<span class="subscript">201</span>=0.1934A&nbsp;&nbsp;&nbsp;&nbsp;I<span class="subscript">202</span>=0.1051A<br><br>
							I<span class="subscript">245</span>=0.1524A
						</div>
						<div id="start_1" style="display: none;">
							电压差引起的环流 = 0.3484A<br><br>
							合环冲击电流 = 0.8868A<br><br>
						</div>
						<div id="start_2" style="display: none;">
							合环校验通过<br><br>
						</div>
						<div id="start_3" style="display: none;">
							合环成功<br><br>
							负荷电流：<br><br>
							I<span class="subscript">201</span>=0.4022A&nbsp;&nbsp;&nbsp;&nbsp;I<span class="subscript">202</span>=0.3364A<br><br>
							I<span class="subscript">245</span>=0.3846A
						</div>
					</div>
					<div class="bottomFontFrame"></div>
				</div>
				<div class="state-hh-no" id="div_hh">
					<p>合环</p>
				</div>
				<div class="button-action" style="position: absolute;bottom: 4%;margin-left:35px;">
					<a id="btn_hhjy" href="#" class="easyui-linkbutton" data-options="toggle:false,iconCls:'icon-kqcz'">执行合环校验</a>
				</div>
			</div>
		</div>
		<div id="canvas"></div>
	</body>
</html>
