<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<script type="text/javascript" src="../../controllers/meta.js" ></script>
		<script type="text/javascript" src="../../controllers/tsld/tsld_jjgz.js" ></script>
	</head>
	<body class="box-margin-all-2">
		<div class="button-action button-aqyd">
			<a id="btn_aqyd" href="#" class="easyui-linkbutton" data-options="toggle:false,iconCls:'icon-aqyd'">安全裕度：<span id="span_aqyd"></span></a>
		</div>
		<div class="panel-surround box-width-3 box-height-2 box-margin-right box-margin-bottom">
			<div class="easyui-panel" title="故障参数" style="height:100%;">
				<div class="top-jjgz">
					<div class="top-jjgz-choose">
						<a><img src="../../../public/img/jjgz_09.png"/></a>
						<a style="margin-left:20px;">请选择故障设备：</a>
					</div>
					<div class="top-jjgz-content">
						<input id="gzsbSelect"class="easyui-combobox" name="state" style="height:30px;width:200px;" />
					</div>
				</div>
				<div class="top-jjgz">
					<div class="top-jjgz-choose">
						<a><img src="../../../public/img/jjgz_09.png"/></a>
						<a style="margin-left:20px;">请选择故障类型：</a>
					</div>
					<div class="top-jjgz-content">
						<input id="gzlxSelect"class="easyui-combobox" name="state" style="height:30px;width:200px;" />
					</div>
				</div>
				<div class="top-jjgz">
					<div class="top-jjgz-choose">
						<a><img src="../../../public/img/jjgz_09.png"/></a>
						<a style="margin-left:20px;">请选择故障持续时间：</a>
					</div>
					<div class="top-jjgz-content">
						<div class="top-jjgz-content-item" style="margin-left:0px;">
							<input type="radio" name="radio" id="radio_5" value="5" checked /><label for="radio_5" style="margin-left: 10px;">&nbsp;&nbsp;5分钟</label>
						</div>
						<div class="top-jjgz-content-item">
							<input type="radio" name="radio" id="radio_10" value="10" /><label for="radio_10" style="margin-left: 10px;">10分钟</label>
						</div>
						<div class="top-jjgz-content-item">
							<input type="radio" name="radio" id="radio_15" value="15" /><label for="radio_15" style="margin-left: 10px;">15分钟</label>
						</div>
						<div class="top-jjgz-content-item" style="margin-left:0px;">
							<input type="radio" name="radio" id="radio_20" value="20" /><label for="radio_20" style="margin-left: 10px;">20分钟</label>
						</div>
						<div class="top-jjgz-content-item">
							<input type="radio" name="radio" id="radio_25" value="25" /><label for="radio_25" style="margin-left: 10px;">25分钟</label>
						</div>
						<div class="top-jjgz-content-item">
							<input type="radio" name="radio" id="radio_30" value="30" /><label for="radio_30" style="margin-left: 10px;">30分钟</label>
						</div>
						<div class="top-jjgz-content-item" style="margin-left:0px;">
							<input style="float:left;" type="radio" name="radio" id="radio_0" value="0"  />
							<div style="float:left;">
								<label for="radio_0" style="margin-left: 10px;">
									<input class="easyui-textbox"data-options="events:{click:inputBlur}" style="width: 100px;margin-left: 10px;" id="timeInput" />&nbsp;分钟
								</label>
							</div>
						</div>
					</div>
					<div class="button-action">
						<a id="btn_ksmngz" href="#" class="easyui-linkbutton" data-options="toggle:false,iconCls:'icon-mngz'">开始模拟故障</a>
					</div>
				</div>
			</div>
		</div>
		<div id="descDiv" class="panel-surround box-width-3 box-height-2 box-margin-right box-margin-bottom" style="visibility: hidden;">
			<div class="easyui-panel" title="故障模拟结果" style="height:100%;">
				<div class="state-1">
					<a><img src="../../../public/img/jjgz_17.png"/></a>
				</div>
				<div class="state-2">
					<p>故障模拟完成</p>
				</div>
				<div class="state-3">
					<p>模拟设备：</p>
					<span id="span_sbmc"></span>
				</div>
				<div class="state-3">
					<p>故障类型：</p>
					<span id="span_gzlx"></span>
				</div>
				<div class="state-3">
					<p>故障持续时间：</p>
					<span id="span_gzcxsj"></span>
				</div>
				<div class="button-action">
					<a id="btn_zbktrxkz" href="#" class="easyui-linkbutton" data-options="toggle:false,iconCls:'icon-rxkz'">热泵空调柔性控制</a>
				</div>
			</div>
		</div>
		<div id="resultDiv" class="panel-surround box-width-3 box-height-2 box-margin-bottom" style="visibility: hidden;">
			<div style="height:30%;"></div>
			<div class="easyui-panel" title="柔性控制结果" style="height:70%;">
				控制前后安全裕度变化
				<div class="top-jjgz">
					<div class="top-jjgz-choose">
						<a><img src="../../../public/img/jjgz_09.png"/></a>
						<a style="margin-left:20px;">控制前安全裕度：<span id="span_aqyd_q"></span></a>
					</div>
				</div>
				<div class="top-jjgz">
					<div class="top-jjgz-choose">
						<a><img src="../../../public/img/jjgz_09.png"/></a>
						<a style="margin-left:20px;">控制后安全裕度：<span id="span_aqyd_h"></span></a>
					</div>
				</div>
			</div>
		</div>
		<div id="pieDiv" class="box-margin-top box-height-2" style="visibility: hidden;">
			<div class="panel-surround box-width-2 box-margin-right" style="height:100%;" id="pieContent1">
				<div class="easyui-panel" title="热泵空调耗电功率" style="width:100%; height:100%;">
					<div class="pie-fix" id="pie_rbkt"></div>
				</div>
			</div>
			<div class="panel-surround box-width-2" style="height:100%;">
				<div class="easyui-panel" title="系统功率变化" style="width:100%; height:100%;" id="pieContent2">
					<div class="pie-fix"  id="pie_xtgl"></div>
				</div>
			</div>
		</div>
		<div id="win"></div>
	</body>
</html>