<script type="text/javascript" src="../../../public/js/jquery.stickyheader.js" ></script>
<script type="text/javascript" src="../../controllers/tsld/tsld_aqyd.js" ></script>
<div style="width:100%;height:100%;text-align: center;">
	<div style="float:left; width:50%;height:600px;overflow-y:scroll;">
		<table style="width: 100%;height: 100%;color:#AEB1B6;" cellspacing="0" id="dy_table">
			<col width="70" /><col /><col width="60" />
			<thead>
				<tr style="background-color: #2F3543">
					<th colspan="3">电压安全裕度</th>
				</tr>
				<tr style="background-color: #2F3543">
					<th>序号</th><th>名称</th><th>裕度</th>
				</tr>
			</thead>
			<tbody id="dy_tbody"></tbody>
		</table>
	</div>
	<div style="float:left; width:50%;height:600px;overflow-y:scroll;">
		<table style="width: 100%;height: 100%;color:#AEB1B6;" cellspacing="0" id="dl_table">
			<col width="70" /><col /><col width="60" />
			<thead>
				<tr style="background-color: #2F3543">
					<th colspan="3">电流安全裕度</th>
				</tr>
				<tr style="background-color: #2F3543">
					<th>序号</th><th>名称</th><th>裕度</th>
				</tr>
			</thead>
			<tbody id="dl_tbody"></tbody>
		</table>
	</div>
</div>