<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script type="text/javascript" src="../../controllers/meta.js" ></script>
    <script type="text/javascript" src="../../controllers/tsgz/tsgz_sjyc.js" ></script>
    <link rel="stylesheet" type="text/css" href="../../../public/css/easyui-tabs-right.css"/>
</head>
<body class="box-margin-all-2">
    <div class="menu-left margin-right float-left">
    <div class="menu-left-button margin-left">
        <a href="#" id="wdw" class="easyui-linkbutton" data-options="toggle:true,group:'g1',iconCls:'icon-wdw',selected:true">微电网</a>
        <a href="#" id="syww" class="easyui-linkbutton" data-options="toggle:true,group:'g1',iconCls:'icon-syww',">商业微网</a>
        <a href="#" id="gyww" class="easyui-linkbutton" data-options="toggle:true,group:'g1',iconCls:'icon-gyww',">工业微网</a>
    </div>
</div>
    <div class="menu-right float-right">
        <div class="sbbh-box">
            <div class="search-box float-left">
                <intput id="search_sbbh" class="easyui-searchbox" prompt="请输入设备编号" data-options="searcher:searchId" name="searchText" style="width:250px;"></intput>
            </div>
            <div class="button-box">
                <a id="btn_tsgz-clyc" href="#" class="easyui-linkbutton" style="width:150px;height:30px;">出力预测</a>
                <a id="btn_tsgz-fhyc" href="#" class="easyui-linkbutton" style="width:150px;height:30px;">负荷预测</a>
            </div>
        </div>
        <div class="clsjfx-box">
            <div class="easyui-panel" title="出力数据分析" data-options="iconCls:'icon-zyfhjk'" style="height:100%;">
                <div id="dataDiv" style="width:100%;height:100%;">
                    <div class="tsgz-bwd-box-style margin-top">
                        <img class="float-left margin-right" src="../../../public/img/icon/icon-04~8/4-8_14.png">
                        <p class="float-left" id="tsgz-lx-div"></p>
                        <p class="float-left" id="tsgz-dylx-div"></p>
                    </div>
                    <div class="tsgz-bwd-box-style margin-top">
                        <img class="float-left margin-right" src="../../../public/img/icon/icon-04~8/4-8_14.png">
                        <p class="float-left" >预测时间：</p>
                        <p class="float-left" id="tsgz-ycsj-div"></p>
                    </div>
                    <div class="tsgz-bwd-box-style margin-top">
                        <img class="float-left margin-right" src="../../../public/img/icon/icon-04~8/4-8_14.png">
                        <p class="float-left">预测最大值及出现时间：</p>
                        <p class="float-left" id="tsgz-max-div"></p>
                    </div>
                    <div class="tsgz-bwd-box-style margin-top">
                        <img class="float-left margin-right" src="../../../public/img/icon/icon-04~8/4-8_14.png">
                        <p class="float-left">预测最小值及出现时间：</p>
                        <p class="float-left" id="tsgz-min-div"></p>
                    </div>
                    <div class="tsgz-bwd-box-style margin-top">
                        <img class="float-left margin-right" src="../../../public/img/icon/icon-04~8/4-8_14.png">
                        <p class="float-left">预测平均值：</p>
                        <p class="float-left" id="tsgz-avg-div"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="clycqx-box">
            <div class="easyui-panel" title="预测曲线" data-options="iconCls:'icon-ssyfdgl'" style="height:100%;">
                <div id="pie_clycqx" style="width:100%;height:100%;"></div>
            </div>
        </div>
    </div>

</body>
</html>